{% extends "base.html.twig" %}

{% block body %}

	<div class="container mt-5">

		<div class="jumbotron" style="background-image: url(/images/pass.jpj)">

			<p class="lead text-warning"></p>

		</div><br>

		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">

				{% block flash_message %}
					{% for message in app.flashes('success') %}
						<div class="alert alert-dismissible alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% for message in app.flashes('danger') %}
						<div class="alert alert-dismissible alert-danger">
							{{ message }}
						</div>
					{% endfor %}

				{% endblock %}
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">

				<div class="bg-light py-3 px-3">
					<h1>
						New Password</h1><br>

					{{ form_start(form)}}
					{{ form_widget(form)}}
					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fas fa-save"></i>
						Save Your New Password
					</button>
					{{form_end(form)}}


				</div>
			</div>


		</div>

	</div>
{% endblock %}
